@model DentAssist.Models.Data.Entities.Tratamiento

@{
    ViewData["Title"] = "Detalle de Tratamiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <h1 class="m-0">Detalle del Tratamiento</h1>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="card card-info">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Nombre</dt>
                    <dd class="col-sm-9">@Model.Nombre</dd>

                    <dt class="col-sm-3">Descripción</dt>
                    <dd class="col-sm-9">@Model.Descripcion</dd>

                    <dt class="col-sm-3">Precio Estimado</dt>
                    <dd class="col-sm-9">$@Model.PrecioEstimado</dd>
                </dl>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
                <a asp-action="Index" class="btn btn-secondary">Volver</a>
            </div>
        </div>
    </div>
</div>
