.vs/DentAssist/DesignTimeBuild/.dtbcache.v2
/.vs
.vs/DentAssist/v17/.suo
/.vs/DentAssist
/DentAssist/obj/Debug
/DentAssist/bin/Debug
.vs/DentAssist/v17/.futdcache.v2
.vs/DentAssist/v17/.futdcache.v2
.vs/DentAssist/v17/.suo
.vs/DentAssist/v17/DocumentLayout.json
DentAssist/obj/Debug/net8.0/DentAssist.AssemblyInfo.cs
DentAssist/obj/Debug/net8.0/DentAssist.AssemblyInfoInputs.cache
