@model DentAssist.Models.Data.Entities.Odontologo

@{
    ViewData["Title"] = "Eliminar Odontólogo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <h1 class="m-0 text-danger">Eliminar Odontólogo</h1>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="card card-danger">
            <div class="card-body">
                <h5>¿Estás seguro que deseas eliminar el siguiente odontólogo?</h5>

                <dl class="row">
                    <dt class="col-sm-3">Nombre</dt>
                    <dd class="col-sm-9">@Model.Nombre</dd>

                    <dt class="col-sm-3">Matrícula</dt>
                    <dd class="col-sm-9">@Model.Matricula</dd>

                    <dt class="col-sm-3">Especialidad</dt>
                    <dd class="col-sm-9">@Model.Especialidad</dd>

                    <dt class="col-sm-3">Email</dt>
                    <dd class="col-sm-9">@Model.Email</dd>
                </dl>

                <form asp-action="DeleteConfirmed">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
